<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.AdminMapper">

	<insert id="insertEmployee" parameterType="com.goodiware.vo.Employee" useGeneratedKeys="true" keyColumn="EMPNO" keyProperty="empno">
		INSERT INTO EMPLOYEE ( ID , NAME, PW, JOINDAY, PHONE, POSNO, DEPNO, AUTHNO ) VALUES ( #{id}, #{name}, #{pw}, NOW(), #{phone}, #{ posno }, #{ depno }, 1 )
	</insert>
	
	<select id="selectPostions" resultType="com.goodiware.vo.Position">
		select * from POSITION
	</select>
	
	<select id="selectDepartments" resultType="com.goodiware.vo.Department">
		select * from DEPARTMENT
	</select>
	
</mapper>