<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.AdminMapper">

	<resultMap type="com.goodiware.vo.Auth" id="authMap">
		<id column="authno" property="authno" />
		<result column="authname" property="authname" />
	</resultMap>
	
	<resultMap type="com.goodiware.vo.Position" id="posMap">
		<id column="posno" property="posno" />
		<result column="posname" property="posname" />
	</resultMap>
	
	<resultMap type="com.goodiware.vo.Department" id="depMap">
		<id column="depno" property="depno" />
		<result column="depname" property="depname" />
	</resultMap>
	
	<sql id="searchKeyContent">
		<trim prefix="AND">
			<choose>
				<when test="name">
					(name LIKE CONCAT('%',#{name},'%') OR depname LIKE CONCAT('%',#{name},'%'))
				</when>
			</choose>
		</trim>
	</sql>
	
	<insert id="insertEmployee" parameterType="com.goodiware.vo.Employee" useGeneratedKeys="true" keyColumn="EMPNO" keyProperty="empno">
		INSERT INTO EMPLOYEE ( ID , NAME, PW, JOINDAY, PHONE, POSNO, DEPNO, AUTHNO ) VALUES ( #{id}, #{name}, #{pw}, NOW(), #{phone}, #{ posno }, #{ depno }, 1 )
	</insert>
	
	<select id="selectPostions" resultType="com.goodiware.vo.Position">
		select * from POSITION
	</select>
	
	<select id="selectDepartments" resultType="com.goodiware.vo.Department">
		select * from DEPARTMENT
	</select>
	
	<select id="selectAuths" resultType="com.goodiware.vo.Auth">
		select * from AUTH
	</select>
	
	<select id ="empList" parameterType="com.goodiware.vo.Employee" resultType="com.goodiware.vo.Employee">
		SELECT e.empno, e.name, e.posno, e.depno, e.phone, p.posname, d.depname
		FROM EMPLOYEE e, POSITION p, DEPARTMENT d 
		where deleted ='N' and e.posno = p.posno and e.depno = d.depno
		order by empno ASC
	</select>
	
	<select id ="empListCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) 
		FROM EMPLOYEE
		where deleted ='N'
	</select>
	
	<select id="empWithPaging" 
			resultType="com.goodiware.vo.Employee" parameterType="hashmap">
		SELECT e.empno, e.name, e.posno, e.depno, e.phone, p.posname, d.depname
		FROM EMPLOYEE e, POSITION p, DEPARTMENT d 
		WHERE
		    e.deleted = 'N' and e.posno = p.posno and e.depno = d.depno
			<include refid="searchKeyContent"/> 
		ORDER BY empno DESC
		limit #{beginning}, #{pageSize}
	</select>
	
	<update id="editEmp" parameterType="com.goodiware.vo.Employee">
		UPDATE EMPLOYEE SET posno = #{ posno }, depno = #{ depno } 
		WHERE id = #{ id }
	</update>
</mapper>