<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.ApprovalMapper">

	<select id="selectApprDivs" resultType="com.goodiware.vo.ApprDiv">
		select * from APPRDIV
	</select>

	<insert id="insertApproval" parameterType="com.goodiware.vo.Approval">
		insert into APPROVAL ( empno, appdivno, title, maccp, faccp, apprfilename, filepath ) values ( #{empno }, #{ appdivno}, #{ title }, #{ maccp }, #{ faccp }, #{ apprfilename }, #{ filepath })
	</insert>
<!-- 	
	<select id="selectMaccpNoByName" parameterType="com.goodiware.vo.Employee" resultType="com.goodiware.vo.Employee">
		select e.empno, e.name, d.depname 
		from EMPLOYEE e, DEPARTMENT d
		where e.depno = d.depno and name = #{ name }
	</select>
-->

	<select id="selectMaccpNoByName" parameterType="com.goodiware.vo.Employee" resultType="com.goodiware.vo.Employee">
		select e.empno, e.name, d.depname 
		from EMPLOYEE e, DEPARTMENT d
		where e.depno = d.depno and deleted ='N' and
				(e.name LIKE CONCAT('%',#{name},'%') OR d.depname LIKE CONCAT('%',#{name},'%'))
	</select>
	
	<select id="selectApprovalList" parameterType="int" resultType="com.goodiware.vo.Approval">
		select d.divname, a.type, a.title, a.content, a.appdivno, a.maccp, a.faccp, a.APPACCPNO, p.accepname, e.name
		from APPRDIV d, APPROVAL a, APPROACCP p, EMPLOYEE e
		where a.appaccpno = p.appaccpno and a.appdivno = d.appdivno AND a.empno = e.empno AND a.deleted = 'N' and a.appdivno = #{ divno }
		order by a.type DESC;
	</select>

</mapper>