<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.ApprovalMapper">

	<select id="selectApprDivs" resultType="com.goodiware.vo.ApprDiv">
		select * from APPRDIV
	</select>

	<insert id="insertApproval" parameterType="com.goodiware.vo.Approval">
		insert into APPROVAL ( empno, appdivno, title, content, maccp, faccp, apprfilename, filepath ) values ( #{empno }, #{ appdivno}, #{ title }, #{ content }, #{ maccp }, #{ faccp }, #{ apprfilename }, #{ filepath })
	</insert>
<!-- 	
	<select id="selectMaccpNoByName" parameterType="com.goodiware.vo.Employee" resultType="com.goodiware.vo.Employee">
		select e.empno, e.name, d.depname 
		from EMPLOYEE e, DEPARTMENT d
		where e.depno = d.depno and name = #{ name }
	</select>
-->

	<select id="selectMaccpNoByName" parameterType="com.goodiware.vo.Employee" resultType="com.goodiware.vo.Employee">
		select e.empno, e.name, d.depname 
		from EMPLOYEE e, DEPARTMENT d
		where e.depno = d.depno and deleted ='N' and
				(e.name LIKE CONCAT('%',#{name},'%') OR d.depname LIKE CONCAT('%',#{name},'%'))
	</select>
	
	<select id="selectApprovalList" parameterType="hashmap" resultType="com.goodiware.vo.Approval">
		select d.divname, a.type, a.title, a.content, a.appdivno, a.maccp, a.faccp, a.APPACCPNO, p.accepname, e.name, a.companion
		from APPRDIV d, APPROVAL a, APPROACCP p, EMPLOYEE e
		where a.appaccpno = p.appaccpno and a.appdivno = d.appdivno AND a.empno = e.empno AND a.deleted = 'N' and a.appdivno = #{ appdivno }
		order by a.type DESC;
	</select>
	
	<select id="selectApprCount" parameterType="hashmap" resultType="int">
		
		SELECT COUNT(*) 
		FROM APPROVAL
		WHERE deleted = 'N'
		
	</select>
	
	<select id="selectAppDivName" parameterType="int" resultType="com.goodiware.vo.ApprDiv">
		select divname, divfiletype from APPRDIV where APPDIVNO = #{ appdivno }
	</select>

	<select id="selectApprByTypeNo" parameterType="map" resultType="com.goodiware.vo.Approval">
		
		SELECT d.divname, a.type, a.empno, a.appdivno, a.title, a.content, a.maccp, a.faccp, a.apprfilename, a.filepath, a.deleted, a.APPACCPNO, p.accepname, e.name, a.companion
		FROM APPRDIV d, APPROVAL a, APPROACCP p, EMPLOYEE e
		WHERE a.appaccpno = p.appaccpno and a.appdivno = d.appdivno AND a.empno = e.empno AND a.deleted = 'N' and a.appdivno = #{ appdivno } and a.type = #{typeNo} 
		
	</select>

	<select id="selectMaccpNameByMaccpNo" parameterType="int" resultType="String">
	
		SELECT e.name 
		FROM EMPLOYEE e, APPROVAL a
		WHERE a.type = #{ typeNo }
		AND a.maccp = e.empno
	
	</select>
	
	<select id="selectFaccpNameByFaccpNo" parameterType="int" resultType="String">
		
		SELECT e.name 
		FROM EMPLOYEE e, APPROVAL a
		WHERE a.type = #{ typeNo }
		AND a.faccp = e.empno
		
	</select>

	<select id="selectUploadApprByTypeNo" parameterType="int" resultType="com.goodiware.vo.Approval">
		SELECT type, apprfilename, filepath
		FROM APPROVAL
		WHERE type = #{typeNo}
	</select>
	
	<update id="updateAppaccpno" parameterType="map">
		update APPROVAL set appaccpno = #{ appaccpno } where type = #{ typeNo }
	</update>
	
	<update id="updateCompaion" parameterType="map">
		update APPROVAL set appaccpno = #{ appaccpno }, companion = #{ companion } where type = #{ typeNo }
	</update>

	<select id="selectRecentApprovalsByEmpno" parameterType="int" resultType="com.goodiware.vo.Approval">
		select d.divname, a.type, a.title, a.content, a.appdivno, a.empno, a.maccp, a.faccp, a.APPACCPNO, p.accepname, e.name, a.companion, e.empno AS '엠플이엠피넘'
		from APPRDIV d, APPROVAL a, APPROACCP p, EMPLOYEE e
		where a.appaccpno = p.appaccpno and a.appdivno = d.appdivno AND a.empno = e.empno AND a.deleted = 'N' AND (a.empno = #{ empno } OR a.maccp = #{ empno } OR a.faccp = #{ empno })
		order by a.type DESC
		limit 0,5
	</select>
	
	<select id="selectApprDetailPageByTypeNo" parameterType="map" resultType="com.goodiware.vo.Approval">
		SELECT ROWNUM, (SELECT COUNT(*) FROM APPROVAL WHERE appdivno = #{ appdivno }) AS CNT 
		FROM 
			(		
			SELECT @ROWNUM:=@ROWNUM+1 AS ROWNUM, A.type
			FROM APPROVAL A, (SELECT @ROWNUM:=0) R
			WHERE A.appdivno = #{ appdivno }
			ORDER BY type DESC
			) T1
		WHERE type = #{ typeNo };
	</select>

</mapper>