<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.EmployeeMapper">

	<resultMap type="com.goodiware.vo.Employee" id="employeeMap">
		<id column="empno" property="empno" />
		<result column="id" property="id" />
		<result column="pw" property="pw" />
		<result column="name" property="name" />
		<result column="birth" property="birth" />
		<result column="phone" property="phone" />
		<result column="add1" property="add1" />
		<result column="add2" property="add2" />
		<result column="add3" property="add3" />
		<result column="joinday" property="joinday" />
		<result column="leaveday" property="leaveday" />
		<result column="picture" property="picture" />
		<result column="intro" property="intro" />
		<result column="deleted" property="deleted" />
		<result column="rolename" property="rolename" />
		<association property="auth" column="authno" resultMap="authMap"></association>
	</resultMap>
	
	<resultMap type="com.goodiware.vo.Auth" id="authMap">
		<id column="authno" property="authno" />
		<result column="authname" property="authname" />
	</resultMap>
	
	<resultMap type="com.goodiware.vo.Position" id="posMap">
		<id column="posno" property="posno" />
		<result column="posname" property="posname" />
	</resultMap>
	
	<resultMap type="com.goodiware.vo.Department" id="depMap">
		<id column="depno" property="depno" />
		<result column="depname" property="depname" />
	</resultMap>


	<select id="selectEmployee" parameterType="com.goodiware.vo.Employee" resultMap="employeeMap" resultType="com.goodiware.vo.Employee">
		SELECT e.empno, e.id, e.pw, e.name, e.birth, e.phone, e.add1, e.add2, e.add3, e.joinday, e.leaveday, e.picture, e.intro, e.deleted, 
				e.posno, e.authno, e.depno, a.authno, a.authname 
		FROM EMPLOYEE e 
		inner join AUTH a
		on a.authno = e.authno 
		where e.id = #{id} and e.pw = #{pw} and deleted ='N'
	</select>
	
	<select id="selectUserInfoByEmpNo" parameterType="int" resultType="com.goodiware.vo.Employee">
		SELECT * 
		FROM EMPLOYEE  
		where empno = #{empNo} and deleted = 'N'
	</select>
	
	<update id="updateEmployee" parameterType="com.goodiware.vo.Employee">
		UPDATE EMPLOYEE SET picture = #{ picture }, phone = #{ phone }, birth = #{ birth }, add1 = #{ add1 }, add2 = #{ add2 }, add3 = #{ add3 }, intro = #{ intro } where id = #{ id }
	</update>
<!-- 	
	<select id ="searchEmp" parameterType="com.goodiware.vo.Employee" resultMap="employeeMap" resultType="com.goodiware.vo.Employee">
		SELECT e.empno, e.name, e.posno, e.depno, e.phone, p.posname, d.depname
		FROM EMPLOYEE e 
		inner join POSITION p
		on e.posno = p.posno
		inner join DEPARTMENT d 
		on e.depno = d.depno  
		where deleted ='N'
		order by empno ASC
	</select> 
-->

	<select id ="searchEmp" parameterType="com.goodiware.vo.Employee" resultType="com.goodiware.vo.Employee">
		SELECT e.empno, e.name, e.posno, e.depno, e.phone, p.posname, d.depname
		FROM EMPLOYEE e, POSITION p, DEPARTMENT d 
		where deleted ='N' and e.posno = p.posno and e.depno = d.depno
		order by empno ASC
	</select>

	<select id="searchNoByName" parameterType="hashmap" resultType="com.goodiware.vo.Employee">
		select e.empno, e.name, d.depname, e.posno, e.depno, e.phone, p.posname
		from EMPLOYEE e, DEPARTMENT d, POSITION p
		where e.depno = d.depno and e.posno = p.posno and deleted ='N' and
				(e.name LIKE CONCAT('%',#{name},'%') OR d.depname LIKE CONCAT('%',#{name},'%'))
		LIMIT #{beginning}, #{pageSize}
	</select>
	
	<select id="selectEmpCount" parameterType="hashmap" resultType="int">
		
		SELECT COUNT(*) 
		FROM EMPLOYEE e, DEPARTMENT d, POSITION p
		where e.depno = d.depno and e.posno = p.posno and deleted ='N' and
				(e.name LIKE CONCAT('%',#{name},'%') OR d.depname LIKE CONCAT('%',#{name},'%'))
		
	</select>
	
	<select id ="selectPosNameByPosNo" parameterType="map" resultType="String">
		SELECT p.posname
		FROM EMPLOYEE e, POSITION p
		where deleted ='N' and p.posno = #{posno} and e.empno = #{empNo}
	</select>
	
	<select id ="selectDepNameByDepNo" parameterType="map" resultType="String">
		SELECT d.depname
		FROM EMPLOYEE e, DEPARTMENT d 
		where deleted ='N' and d.depno = #{depno} and e.empno = #{empNo}
	</select>
	
	<select id ="selectUserDetailByEmpno" parameterType="int" resultType="com.goodiware.vo.Employee">
		SELECT e.empno, e.id, e.name, e.posno, e.depno, e.phone, e.picture, e.intro,p.posname, d.depname
		FROM EMPLOYEE e, POSITION p, DEPARTMENT d 
		where deleted ='N' and e.posno = p.posno and e.depno = d.depno and e.empno = #{ empno }
	</select>
	
	<select id="selectEmployeeById" parameterType="String" resultMap="employeeMap" resultType="com.goodiware.vo.Employee">
		SELECT e.*, a.* 
		FROM EMPLOYEE e 
		inner join AUTH a
		on a.authno = e.authno 
		where e.id = #{id}
	</select>
	
</mapper>