<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.MessageMapper">

	<select id="selectEmployeeNoById" parameterType="com.goodiware.vo.Message" resultType="int">
		select empno from EMPLOYEE where id = #{ receiveid }
	</select>

	<insert id="insertMessage" parameterType="com.goodiware.vo.Message">
		insert into MESSAGE( title, content, senddate, sender, receiver ) values ( #{ title }, #{ content }, NOW(), #{sender}, #{receiver} )
	</insert>
	
	<select id="selectMessage" parameterType="int" resultType="com.goodiware.vo.Message">
		select * from MESSAGE where receiver = #{ empno } and deleted = 'N' order by mno DESC
	</select>

</mapper>