<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.MessageMapper">

	<sql id="searchCondition">
		<trim suffix="AND">
			<choose>
				<when test="searchType == 'T'.toString()">
					title LIKE CONCAT('%',#{searchKey},'%')
				</when>
				<when test="searchType == 'C'.toString()">
					content LIKE CONCAT('%',#{searchKey},'%')
				</when>
			</choose>
		</trim>
	</sql>

	<select id="selectEmployeeNoById" parameterType="com.goodiware.vo.Message" resultType="int">
		select empno from EMPLOYEE where id = #{ receiveid }
	</select>
	
<!-- 
	<insert id="insertMessage" parameterType="com.goodiware.vo.Message">
		insert into MESSAGE( title, content, senddate, sender, receiver ) values ( #{ title }, #{ content }, NOW(), #{sender}, #{receiver} )
	</insert>
 -->
 	
 	<select id="selectMessage" parameterType="int" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, e.name
		from MESSAGE m , EMPLOYEE e 
		where m.receiver = #{ empno } and m.deleted = 'N' and  m.sender = e.empno
		order by m.senddate DESC
	</select>

	<select id="selectMessageWithPaging" parameterType="hashmap" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, e.name
		from MESSAGE m , EMPLOYEE e 
		where
			<include refid="searchCondition" /> 
			m.receiver = #{ empno } and m.deleted = 'N' and  m.sender = e.empno
		order by m.senddate DESC
		limit #{beginning}, #{end}
	</select>
	
	<select id="selectMessageCountWithpaging" parameterType="hashmap" resultType="int">
		select count(*) from MESSAGE
		where 
			<include refid="searchCondition" />
			 receiver = #{ empno } and deleted ='N'
	</select>

	<select id="selectMessageContent" parameterType="int" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, m.msgfilename, m.filepath, e.name, e.id
		from MESSAGE m , EMPLOYEE e
		where m.mno = #{ mno } and m.sender = e.empno
	</select>
	
	<insert id="insertOpenDate" parameterType="int">
		update MESSAGE set opendate = NOW() where mno = #{ mno }
	</insert>
	
	<update id="updateMessage" parameterType="int">
		update MESSAGE set deleted = 'Y' where mno = #{ mno }
	</update>
	
	<select id="selectTrashMessages" parameterType="int" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, e.name 
		from MESSAGE m, EMPLOYEE e
		where m.receiver = #{ empno } and m.deleted ='Y' and m.sender = e.empno
		order by senddate DESC
	</select>
	
	<delete id="deleteMessage" parameterType="int">
		delete from MESSAGE where mno = #{ mno }
	</delete>

<!-- 	
	<select id="selectOpendateCount" parameterType="int" resultType="int">
		select count(*) from MESSAGE where receiver = #{ empno } and opendate is null
	</select>

 -->	
 	<select id="selectOpendateCount" parameterType="int" resultType="int">
		select count(*) from MESSAGE where receiver = #{ empno } and deleted ='N'
	</select>
	
	<select id="selectDeleteCount" parameterType="int" resultType="int">
		select count(*) from MESSAGE where receiver = #{ empno } and deleted ='Y'
	</select>
	
	<update id="updateRestoreMessage" parameterType="int">
		update MESSAGE set deleted ='N' where mno = #{ mno }
	</update>
	
	<select id="selectSendId" parameterType="int" resultType="String">
		select id from EMPLOYEE where empno = #{ sender }	
	</select>
	
	<select id="selectSendMessageByMe" parameterType="int" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, m.receiver, e.name, e.id 
		from MESSAGE m , EMPLOYEE e
		where sender = #{ empno } and m.receiver = e.empno and m.deleted ='N'
		order by senddate DESC
	</select>
	
	<select id="sendMessageContent" parameterType="int" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, e.name, e.id
		from MESSAGE m , EMPLOYEE e
		where m.mno = #{ mno } and m.receiver = e.empno
	</select>
	
	<select id="selectMessageByMeWithPaging" parameterType="hashmap" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, e.name, e.id
		from MESSAGE m , EMPLOYEE e 
		where
			<include refid="searchCondition" /> 
			m.sender = #{ empno } and m.deleted = 'N' and  m.receiver = e.empno
		order by m.senddate DESC
		limit #{beginning}, #{end}
	</select>
	
	<select id="selectSendMessageCount" parameterType="int" resultType="int">
		select count(*) from MESSAGE
		where 
			<include refid="searchCondition" />
			 sender = #{ empno } and deleted ='N'
	</select>
	
	<select id="selectTrashMessageWithPaging" parameterType="hashmap" resultType="com.goodiware.vo.Message">
		select m.mno, m.title, m.content, m.opendate, m.senddate, m.sender, e.name, e.id
		from MESSAGE m , EMPLOYEE e 
		where
			<include refid="searchCondition" /> 
			m.receiver = #{ empno } and m.deleted = 'Y' and  m.sender = e.empno
		order by m.senddate DESC
		limit #{beginning}, #{end}
	</select>
	
	<select id="selectTrashMessageCount" parameterType="int" resultType="int">
		select count(*) from MESSAGE
		where 
			<include refid="searchCondition" />
			 receiver = #{ empno } and deleted ='Y'
	</select>
	
	<insert id="insertMessage" parameterType="com.goodiware.vo.Message">
		insert into MESSAGE( title, content, senddate, sender, receiver, msgfilename, filepath ) 
		values ( #{ title }, #{ content }, NOW(), #{sender}, #{receiver}, #{ msgfilename }, #{ filepath } )
	</insert>
	
	<select id="selectFileByMno" parameterType="int" resultType="com.goodiware.vo.Message">
		select mno, msgfilename, filepath from MESSAGE where mno = #{ mno }
	</select>
	

 
 </mapper>