<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.ReferenceMapper">

	<insert id="insertReference" parameterType="com.goodiware.vo.Reference">
		INSERT INTO REFERENCE ( empno, refname, refcontent, refdate, reffilename, refpath ) 
		VALUES ( #{empno}, #{refname}, #{refcontent}, NOW(), #{reffilename}, #{refpath} )
	</insert>
	
</mapper>