<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.ReferenceMapper">

	<sql id="searchCondition">
		<trim suffix="AND">
	    	<choose>
	    		<when test="searchType == 'T'.toString()">
	    			refname LIKE CONCAT('%',#{searchKey},'%')
	    		</when>
	    		<when test="searchType == 'C'.toString()">
	    			(refname LIKE CONCAT('%',#{searchKey},'%') OR refcontent LIKE CONCAT('%',#{searchKey},'%'))
	    		</when>
	    	</choose>
		</trim>
	</sql>

	<insert id="insertReference" parameterType="com.goodiware.vo.Reference">
		INSERT INTO REFERENCE ( empno, refname, refcontent, refdate, reffilename, refpath ) 
		VALUES ( #{empno}, #{refname}, #{refcontent}, NOW(), #{reffilename}, #{refpath} )
	</insert>
	
	<select id="selectRefWithPaging" 
			resultType="com.goodiware.vo.Reference" parameterType="hashmap">
	
		SELECT r.empno, r.refno, r.refname, r.refcontent, r.refdate, r.refdel, e.name, e.empno
		FROM REFERENCE r, EMPLOYEE e
		WHERE    
			<include refid="searchCondition" />
		    r.refdel = 'N'
		    and r.empno = e.empno
		    
		ORDER BY r.refno DESC
		LIMIT #{beginning}, #{pageSize}
		
	</select>
	<select id="selectRefCount" parameterType="hashmap" resultType="int">
		
		SELECT COUNT(*) 
		FROM REFERENCE
		WHERE 
			<include refid="searchCondition" />
			refdel = 'N'
		
	</select>
	
	<select id="selectRefByRefNo" parameterType="int" resultType="com.goodiware.vo.Reference">
		
		SELECT r.empno, r.refno, r.refname, r.refcontent, r.refdate, r.refdel, r.reffilename, r.refpath, e.name, e.empno
		FROM REFERENCE r, EMPLOYEE e
		WHERE r.refno = #{refNo} 
		AND r.refdel = 'N' 
		AND r.empno = e.empno
		
	</select>
	
	<select id="selectUploadRefByRefNo" parameterType="int" resultType="com.goodiware.vo.Reference">
		SELECT refno, reffilename, refpath
		FROM REFERENCE
		WHERE refno = #{refNo}
	</select>
	
	<update id="deleteReference" parameterType="int">
		UPDATE REFERENCE
		SET refdel = 'Y' 
		WHERE refno = #{ refNo }
	</update>	
	
	<update id="updateReference" parameterType="com.goodiware.vo.Reference">
		UPDATE REFERENCE
		SET refname = #{ refname }, refcontent = #{ refcontent }, refdate = NOW(), refpath = #{ refpath }, reffilename = #{ reffilename }  
		WHERE refno = #{ refno } 
	</update>
	
</mapper>