<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.ScheduleMapper">

	<insert id="plusScd" parameterType="com.goodiware.vo.Schedule">
		INSERT INTO SCHEDULE ( SCHENO, SCHEDIVNO, EMPNO, TITLE, STARTDATE, ENDDATE, CONTENT ) VALUES ( #{scheno}, #{schedivno}, #{empno}, #{title}, #{startdate}, #{enddate}, #{content} )
	</insert>
	
	<select id="selectSchdiv" resultType="com.goodiware.vo.Schdiv">
		select * from SCHDIV
	</select>
	
	<select id="selectEmpno" resultType="com.goodiware.vo.Employee">
		select * from EMPLOYEE
	</select>
	
	<select id="showPlans" parameterType="int" resultType="com.goodiware.vo.Schedule">
		<![CDATA[
		SELECT SCHENO, SCHEDIVNO, EMPNO, TITLE, CONTENT, STARTDATE, ENDDATE
		FROM SCHEDULE
		]]>
	</select>
	
	<!-- <select id="selectPlans" resultType="com.goodiware.vo.Schedule">
		select SCHENO, SCHEDIVNO, EMPNO, TITLE, STARTDATE, ENDDATE, CONTENT
		from SCHEDULE
		where SCHENO = #{ scheno }
	</select> -->
	
	
	
</mapper>