<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodiware.mapper.ScheduleMapper">

	<insert id="plusScd" parameterType="com.goodiware.vo.Schedule">
		INSERT INTO SCHEDULE ( SCHENO, SCHEDIVNO, EMPNO, TITLE, STARTDATE, ENDDATE, CONTENT ) VALUES ( #{scheno}, #{schedivno}, #{empno}, #{title}, #{startdate}, #{enddate}, #{content} )
	</insert>
	
	<select id="selectSchdiv" resultType="com.goodiware.vo.Schdiv">
		select * from SCHDIV
	</select>
	
	<select id="showPlans" parameterType="int" resultType="com.goodiware.vo.Schedule">
		<![CDATA[
		SELECT SCHENO, SCHEDIVNO, EMPNO, TITLE, CONTENT, STARTDATE, ENDDATE
		FROM SCHEDULE
		WHERE EMPNO = #{empno}
		]]>
	</select>
	
	<select id="selectScheduleDetailByScheNo" parameterType="int" resultType="com.goodiware.vo.Schedule">
		<![CDATA[
		SELECT SCHENO, TITLE, SCHEDIVNO, STARTDATE, ENDDATE, CONTENT, EMPNO
		FROM SCHEDULE
		WHERE SCHENO = #{scheno}
		]]>
	</select>
	
	<delete id="deleteSchedule" parameterType="int">
		DELETE FROM SCHEDULE WHERE SCHENO=#{scheno}
	</delete>
	
	<update id="updateSchedule" parameterType="com.goodiware.vo.Schedule">
		UPDATE SCHEDULE
		SET TITLE = #{title}, SCHEDIVNO = #{schedivno}, STARTDATE = #{startdate}, ENDDATE = #{enddate}, CONTENT = #{content}
		WHERE scheno = #{ scheno }
	</update>
	
	<update id="updateSch" parameterType="com.goodiware.vo.Schedule">
		UPDATE SCHEDULE
		SET TITLE = #{title}, SCHEDIVNO = #{schedivno}, CONTENT = #{content}, STARTDATE = #{startdate}, ENDDATE = #{enddate} 
		WHERE SCHENO = #{scheno}
	</update>
	
	<select id="selectAllSchedulesByEmpno" parameterType="int" resultType="com.goodiware.vo.Schedule">
	
		SELECT sc.*, sd.*, e.empno
		FROM SCHEDULE sc, SCHDIV sd, EMPLOYEE e
		WHERE sc.EMPNO = #{empno} 
		AND sc.SCHEDIVNO = sd.SCHEDIVNO
		AND sc.EMPNO = e.EMPNO
		ORDER BY sc.SCHENO DESC
		LIMIT 0,5
	
	</select>
</mapper>